body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
ol,
ul {
  padding-left: 30px;
  color: white;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
.square:focus {
  outline: none;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 40px;
}
h3 {
  color: white;
}
label {
  margin-left: 10px;
  color: white;
}
button {
  margin: 2px;
}
#statId {
  color: white;
  margin-left: 30px;
}
#statId + div {
  color: yellow;
  margin-left: 30px;
}
